# Usage: pip install -r requirements.txt

# Base ----------------------------------------
paddleocr==2.7.3
paddlepaddle==2.6.1
matplotlib
Pillow==10.2.0
PyYAML
requests
scipy
tqdm
opencv-python
protobuf<4.21.3
streamlit
vietocr
einops==0.2.0

# Logging -------------------------------------
tensorboard
# wandb

# Plotting ------------------------------------
pandas
seaborn

# Export --------------------------------------
# coremltools>=4.1  # CoreML export
# onnx>=1.9.0  # ONNX export
# onnx-simplifier>=0.3.6  # ONNX simplifier
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TFLite export
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
# albumentations>=1.0.3
# pycocotools>=2.0  # COCO mAP
# roboflow

numpy<2.0.0
tensorflow==2.15.1